body {
	background-color: #ffffff;
  	height: 100vh;
  	align-items: inherit;
}

#hola h1 {
	font-family: 'Montserrat', sans-serif;
	color:black;
  	text-align: center;
  	margin-top: 50px; /* ajusta este valor según tu diseño */
}

form {
		display: flex;
  		flex-direction: column;
  		justify-content: center;
  		align-items: center;
  		background-color: #f2f2f2;
  		border: 1px solid #ccc;
  		border-radius: 5px;
  		box-shadow: 0px 0px 5px #ccc;
  		max-width: 500px;
  		margin:  auto;
  		padding: auto;
  		font-family: 'Montserrat', sans-serif;

}



h1 {

  color: #333;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}



input[type="file"] ::-webkit-file-upload-button {

 border-radius: 50px; /* Hace el botón redondeado */
  border: none; /* Remueve el borde predeterminado */
  padding: 10px; /* Añade un poco de espaciado alrededor del botón */
  background-color: #f0f0f0; /* Añade un color de fondo */
  color: #333; /* Añade un color de texto */
  font-family: 'Montserrat', sans-serif;
	font-size: 16px; /* Añade un tamaño de texto */
  cursor: pointer; /* Hace el cursor un puntero al pasar sobre el botón */
  display: none;
}


button {
  background-color: #C42847;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
	font-family: 'Montserrat', sans-serif;

}

button:hover {
  background-color: #3e8e41;
}

p {
	font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
